#crypto-list {
  /* border: 1px solid blue; */
  width: 600px;
  margin: 0 auto;
}

.coin-item-container {
  display: grid;
  grid-template-columns:60px 40px 100px 100px 50px 50px 50px 100px;
  grid-template-rows: auto;
  border: 1px solid black;
  font-size: 8px;
  text-align: left;
  align-content: center;
  justify-content: center;
}

.coin-item {
  align-self: center;
  padding: 10px;
  /* margin: 10px; */
  /* border: 1px solid black; */
}

#coin-name {
}

#coin-symbol {
}

#coin-price {
}

#coin-volume {
}

#coin-change-1hr {
}

#coin-change-24hr {
}

#coin-change-7d {
}
