.nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* background: red; */
  user-select: none;
}

#nav-buttons-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.nav-buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 50px;
}

#login-button {
  padding: 5px;
  /* border: 1px solid white; */
  margin: 0;
  font-size: 10px;
  cursor: pointer;
  user-select: none;
}

#login-button:hover {
  color:red;
}

#register-button {
  padding: 5px;
  /* border: 1px solid white; */
  margin: 0;
  font-size: 10px;
  cursor: pointer;
  user-select: none;
}

#register-button:hover {
  color:red;
}

#title {
  padding: 10px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  user-select: none;
}

#title:hover {
  color: red;
}
